openapi: 3.0.3
info:
  title: 'Logivice API'
  description: 'Logivice API (service side application for Logivice)'
  version: 1.0.0
servers:
  -
    url: 'https://api.scaas.ai'
tags:
  -
    name: Partner
    description: ''
  -
    name: Profile
    description: ''
  -
    name: Tracking
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can create Bearer token by visiting your page <b>Profile -> "Api Tokens" -> "+"</b> button. Or you could use the same API with SPA through cookies as well (out of the box)'
security:
  -
    default: []
paths:
  '/api/v1/partner/{partner_id}/orders/template':
    put:
      summary: 'Update Order Template Details'
      operationId: updateOrderTemplateDetails
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configuration:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties: {  }
              required:
                - configuration
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/items':
    get:
      summary: Items
      operationId: items
      description: ''
      parameters:
        -
          in: query
          name: hub_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: status_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: part_master.item
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: order.service_level_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: order.serviceLevel.order_type_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orders_items.created_at
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{orderId}/action/{action}':
    get:
      summary: Execute
      operationId: execute
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: orderId
        description: 'Optional parameter.'
        required: true
        schema:
          type: string
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: provident
      -
        in: path
        name: action
        description: 'The action.'
        example: consequatur
        required: true
        schema:
          type: string
  '/api/v1/partner/{partner_id}/orders':
    get:
      summary: 'Get All Orders'
      operationId: getAllOrders
      description: ''
      parameters:
        -
          in: query
          name: status
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: service_level_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: outbound_items_status
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: inbound_items_status
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: customer_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orders.ref
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orders.created_at
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orders.updated_at
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: ref
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: ref2
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: remarks
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: partnerService.name
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: partnerService.order_type_id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: partnerService.orderType.name
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orderType.name
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: orderType.id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: createdBy.name
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    post:
      summary: 'Create a new order'
      operationId: createANewOrder
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                  description: 'Order reference number.'
                  example: ORD-12345
                  nullable: false
                partner_service_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the partner_services table.'
                  example: tenetur
                  nullable: false
                ref2:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: gjnhp
                  nullable: true
                rma:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: csrnrxlnpqeimnf
                  nullable: true
                remarks:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: tksuvjbaebfc
                  nullable: true
                type:
                  type: string
                  description: "Type of request. Use 'json' for JSON format."
                  example: json
                  nullable: false
                customer_ref:
                  type: string
                  description: 'Customer reference number.'
                  example: CUST-001
                  nullable: false
                customer_name:
                  type: string
                  description: 'Customer name.'
                  example: 'ACME Corp'
                  nullable: false
                customer_email:
                  type: string
                  description: 'Customer email.'
                  example: customer@example.com
                  nullable: false
                customer_phone:
                  type: string
                  description: 'Customer phone number.'
                  example: '+1234567890'
                  nullable: false
                delivery_date:
                  type: string
                  description: 'Delivery date in ISO format.'
                  example: '2025-06-15'
                  nullable: false
                shipping_address:
                  type: object
                  description: 'Shipping address information.'
                  example: []
                  nullable: false
                  properties:
                    address_line_1:
                      type: string
                      description: 'Address line 1.'
                      example: '123 Main St'
                      nullable: false
                    address_line_2:
                      type: string
                      description: 'Address line 2.'
                      example: 'Suite 456'
                      nullable: false
                    city:
                      type: string
                      description: City.
                      example: 'New York'
                      nullable: false
                    state:
                      type: string
                      description: State.
                      example: NY
                      nullable: false
                    postal_code:
                      type: string
                      description: 'Postal code.'
                      example: '10001'
                      nullable: false
                    country:
                      type: string
                      description: 'Country code.'
                      example: US
                      nullable: false
                billing_address:
                  type: object
                  description: 'Billing address information.'
                  example: []
                  nullable: false
                  properties:
                    address_line_1:
                      type: string
                      description: 'Address line 1.'
                      example: '123 Main St'
                      nullable: false
                    address_line_2:
                      type: string
                      description: 'Address line 2.'
                      example: 'Suite 456'
                      nullable: false
                    city:
                      type: string
                      description: City.
                      example: 'New York'
                      nullable: false
                    state:
                      type: string
                      description: State.
                      example: NY
                      nullable: false
                    postal_code:
                      type: string
                      description: 'Postal code.'
                      example: '10001'
                      nullable: false
                    country:
                      type: string
                      description: 'Country code.'
                      example: US
                      nullable: false
                shipments:
                  type: array
                  description: 'Array of shipments for this order.'
                  example:
                    - iste
                  items:
                    type: string
                custom_fields:
                  type: object
                  description: 'Custom fields for the order.'
                  example:
                    field1: value1
                    field2: value2
                  nullable: false
                  properties: {  }
              required:
                - partner_service_id
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{id}':
    get:
      summary: 'Get a Single Order'
      operationId: getASingleOrder
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: createdBy confirmedBy customer requestor inboundOrderItems inboundOrderItems.status inboundOrderItems.partMaster inboundOrderItems.hub outboundOrderItems outboundOrderItems.status outboundOrderItems.partMaster outboundOrderItems.hub warehouseOrders warehouseOrders.warehouse partner partnerService partnerService.orderType partnerService.customFields customFieldsValues customFieldsValues.customField orderItem orderItem.warehouse orderSettings serviceRequest shipments inboundShipments outboundShipments inboundShipments.fromAddress inboundShipments.toAddress outboundShipments.fromAddress outboundShipments.toAddress shipments shipments.fromAddress shipments.toAddress shipments.fromAddress.customer shipments.toAddress.customer shipments.fromContact shipments.toContact shipments.orderItems shipments.pivot shipments.pivot.preferableCourierService shipments.pivot.preferableCourierService.courier shipments.devices shipments.courierTrackings shipments.courierTrackings.company'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: createdBy confirmedBy customer requestor inboundOrderItems inboundOrderItems.status inboundOrderItems.partMaster inboundOrderItems.hub outboundOrderItems outboundOrderItems.status outboundOrderItems.partMaster outboundOrderItems.hub warehouseOrders warehouseOrders.warehouse partner partnerService partnerService.orderType partnerService.customFields customFieldsValues customFieldsValues.customField orderItem orderItem.warehouse orderSettings serviceRequest shipments inboundShipments outboundShipments inboundShipments.fromAddress inboundShipments.toAddress outboundShipments.fromAddress outboundShipments.toAddress shipments shipments.fromAddress shipments.toAddress shipments.fromAddress.customer shipments.toAddress.customer shipments.fromContact shipments.toContact shipments.orderItems shipments.pivot shipments.pivot.preferableCourierService shipments.pivot.preferableCourierService.courier shipments.devices shipments.courierTrackings shipments.courierTrackings.company'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    put:
      summary: 'Update Order Details'
      operationId: updateOrderDetails
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                courier_service_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the couriers_services table.'
                  example: et
                  nullable: false
                partner_service_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the partner_services table.'
                  example: est
                  nullable: false
                ref2:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: nstwyzohut
                  nullable: true
                rma:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: ywbptuvpukksfeq
                  nullable: true
                remarks:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qdrgk
                  nullable: true
                service_request_id:
                  type: integer
                  description: ''
                  example: 9
                  nullable: true
                custom_fields:
                  type: string
                  description: ''
                  example: null
                  nullable: false
              required:
                - courier_service_id
                - partner_service_id
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/shipments':
    post:
      summary: 'Create New Order Shipment'
      operationId: createNewOrderShipment
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: fromAddress toAddress fromAddress.customer toAddress.customer fromContact toContact'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: fromAddress toAddress fromAddress.customer toAddress.customer fromContact toContact'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expected_delivery_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-06-11T13:57:51'
                  nullable: false
                departure_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-06-11T13:57:51'
                  nullable: false
                incoterm:
                  type: string
                  description: ''
                  example: FCA
                  nullable: true
                  enum:
                    - EXW
                    - FCA
                    - CPT
                    - CIP
                    - DAP
                    - DPU
                    - DDP
                    - FAS
                    - FOB
                    - CFR
                    - CIF
                min_temperature:
                  type: number
                  description: 'Must not be greater than 100.'
                  example: 2
                  nullable: true
                max_temperature:
                  type: number
                  description: 'Must not be greater than 100.'
                  example: 6
                  nullable: true
                from:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    address_id:
                      type: integer
                      description: 'This field is required when none of <code>from.customer</code>, <code>from.address</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. The <code>id</code> of an existing record in the addresses table.'
                      example: 15
                      nullable: true
                    contact_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the contacts table.'
                      example: 3
                      nullable: true
                    port_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the ports table.'
                      example: 7
                      nullable: true
                    warehouse_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the warehouses table.'
                      example: 5
                      nullable: true
                    customer:
                      type: object
                      description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present.'
                      example: null
                      nullable: false
                      properties:
                        name:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: kujzdhcmvcrubctxpzrnll
                          nullable: false
                    address:
                      type: object
                      description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present.'
                      example: null
                      nullable: false
                      properties:
                        address:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: tokvuwtysgyqauw
                          nullable: false
                        address2:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: vgjyse
                          nullable: true
                        city:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: a
                          nullable: false
                        zip:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: tpehmvhjamoxvizapoeadcm
                          nullable: false
                        country_iso_2:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: vldzkcffnjrgajni
                          nullable: false
                        state:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: x
                          nullable: true
                    contact:
                      type: object
                      description: ''
                      example: null
                      nullable: false
                      properties:
                        first_name:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: hdnbdgmuzbuwlceihy
                          nullable: false
                        last_name:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: nmkartiajyazszzdmyedfka
                          nullable: false
                        phone:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: hotxiidjqwtrisvvpwyhr
                          nullable: false
                        mobile_phone:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: ulydfvrtkd
                          nullable: true
                        email:
                          type: string
                          description: 'This field is required when none of <code>from.address_id</code>, <code>from.port_id</code>, and <code>from.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: zsmitham@example.net
                          nullable: true
                        address_id:
                          type: string
                          description: 'The <code>id</code> of an existing record in the addresses table.'
                          example: null
                          nullable: true
                to:
                  type: object
                  description: ''
                  example: []
                  nullable: false
                  properties:
                    address_id:
                      type: integer
                      description: 'This field is required when none of <code>to.customer</code>, <code>to.address</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. The <code>id</code> of an existing record in the addresses table.'
                      example: 18
                      nullable: true
                    contact_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the contacts table.'
                      example: 16
                      nullable: true
                    port_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the ports table.'
                      example: 15
                      nullable: true
                    warehouse_id:
                      type: integer
                      description: 'The <code>id</code> of an existing record in the warehouses table.'
                      example: 4
                      nullable: true
                    customer:
                      type: object
                      description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present.'
                      example: null
                      nullable: false
                      properties:
                        name:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: vzheivxjzilyfxhnzqfincbvv
                          nullable: false
                    address:
                      type: object
                      description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present.'
                      example: null
                      nullable: false
                      properties:
                        address:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: wjflxshglwppbglkir
                          nullable: false
                        address2:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: bxxnidpkubwtrutbwxey
                          nullable: true
                        city:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: b
                          nullable: false
                        zip:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: pvwujvuksidghibagodmfox
                          nullable: false
                        country_iso_2:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: bksnvyekvdqzmgxjijrc
                          nullable: false
                        state:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: wytlpzumrmp
                          nullable: true
                    contact:
                      type: object
                      description: ''
                      example: null
                      nullable: false
                      properties:
                        first_name:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: phaeziphzdgngt
                          nullable: false
                        last_name:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: zwqorwevq
                          nullable: false
                        phone:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: rkc
                          nullable: false
                        mobile_phone:
                          type: string
                          description: 'Must not be greater than 255 characters.'
                          example: fmjsqczdwyubsckwneceeyc
                          nullable: true
                        email:
                          type: string
                          description: 'This field is required when none of <code>to.address_id</code>, <code>to.port_id</code>, and <code>to.warehouse_id</code> are present. Must not be greater than 255 characters.'
                          example: yasmin75@example.net
                          nullable: true
                        address_id:
                          type: string
                          description: 'The <code>id</code> of an existing record in the addresses table.'
                          example: null
                          nullable: true
                instructions:
                  type: string
                  description: ''
                  example: null
                  nullable: false
                type:
                  type: string
                  description: ''
                  example: outbound
                  nullable: false
                  enum:
                    - inbound
                    - outbound
              required:
                - expected_delivery_date
                - departure_date
                - type
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/shipments/{id}':
    get:
      summary: 'Get a Single Order Shipment'
      operationId: getASingleOrderShipment
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: fromAddress toAddress fromAddress.customer toAddress.customer fromContact toContact devices devices.tags devices.deviceEvents devices.temperatureEvents devices.lastLocations devices.movingStartEvent devices.profile partner pointsOfInterest pointsOfInterest.devices pointsOfInterest.courierTrackings pointsOfInterest.target tags temperatureLimits courierTrackings courierTrackings.company courierTrackings.company.shippingMode courierTrackings.devices courierTrackings.checkpoints courierTrackings.etas courierTrackings.packages courierTrackings.transportations courierTrackings.transportations.pol courierTrackings.transportations.pod courierTrackings.origin courierTrackings.destination courierTrackings.settings courierTrackings.integratedConnection courierTrackings.carbonFootprint packages urls courierOrders courierOrders.shippingRate courierOrders.packages courierOrders.itemTypes courierOrders.shippingRate.courierAccount courierOrders.shippingRate.courierAccount.courier courierOrders.shippingRate.courierService courierOrders.courierTrackings courierOrders.urls latestChanges files carbonFootprint instructions pivot.preferableCourierService pivot.preferableCourierService.courier warehouseOrder.warehouse warehouseOrder.warehouse.threepl warehouseOrder.hub orderItems'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: fromAddress toAddress fromAddress.customer toAddress.customer fromContact toContact devices devices.tags devices.deviceEvents devices.temperatureEvents devices.lastLocations devices.movingStartEvent devices.profile partner pointsOfInterest pointsOfInterest.devices pointsOfInterest.courierTrackings pointsOfInterest.target tags temperatureLimits courierTrackings courierTrackings.company courierTrackings.company.shippingMode courierTrackings.devices courierTrackings.checkpoints courierTrackings.etas courierTrackings.packages courierTrackings.transportations courierTrackings.transportations.pol courierTrackings.transportations.pod courierTrackings.origin courierTrackings.destination courierTrackings.settings courierTrackings.integratedConnection courierTrackings.carbonFootprint packages urls courierOrders courierOrders.shippingRate courierOrders.packages courierOrders.itemTypes courierOrders.shippingRate.courierAccount courierOrders.shippingRate.courierAccount.courier courierOrders.shippingRate.courierService courierOrders.courierTrackings courierOrders.urls latestChanges files carbonFootprint instructions pivot.preferableCourierService pivot.preferableCourierService.courier warehouseOrder.warehouse warehouseOrder.warehouse.threepl warehouseOrder.hub orderItems'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    put:
      summary: 'Update Order Shipment Details'
      operationId: updateOrderShipmentDetails
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                preferable_courier_service_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the courier_services table.'
                  example: saepe
                  nullable: false
              required:
                - preferable_courier_service_id
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the shipment.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/invalid_wh_transactions':
    get:
      summary: 'Invalid Warehouse Transactions'
      operationId: invalidWarehouseTransactions
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/remarks':
    get:
      summary: 'Get All Order Remarks'
      operationId: getAllOrderRemarks
      description: ''
      parameters:
        -
          in: query
          name: orderRemarkType.name
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    post:
      summary: 'Create New Order Remark'
      operationId: createNewOrderRemark
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: ''
                  example: velit
                  nullable: false
                subject:
                  type: string
                  description: ''
                  example: qui
                  nullable: false
                order_remark_type_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_remark_types table.'
                  example: nihil
                  nullable: false
                parent_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the order_remarks table.'
                  example: null
                  nullable: true
              required:
                - message
                - subject
                - order_remark_type_id
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/attachments':
    get:
      summary: 'Get All Order Attachments'
      operationId: getAllOrderAttachments
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{item_id}/add-inventory':
    post:
      summary: 'Add Inventory'
      operationId: addInventory
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                source:
                  type: string
                  description: ''
                  example: manual
                  nullable: false
                  enum:
                    - file
                    - manual
                file:
                  type: string
                  format: binary
                  description: 'This field is required when <code>source</code> is <code>file</code>. Must be a file.'
                  nullable: false
                mapping:
                  type: string
                  description: 'This field is required when <code>source</code> is <code>file</code>. Must be a valid JSON string.'
                  example: '["delectus","neque"]'
                  nullable: false
                inventories:
                  type: array
                  description: 'This field is required when <code>source</code> is <code>manual</code>.'
                  example: null
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        description: ''
                        example: 23.642509959
                        nullable: false
                      serial:
                        type: string
                        description: ''
                        example: beatae
                        nullable: false
                      batch:
                        type: string
                        description: ''
                        example: vel
                        nullable: false
                      quantity:
                        type: number
                        description: ''
                        example: 26802801.7857
                        nullable: false
                      box:
                        type: array
                        description: ''
                        example:
                          - []
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                              description: ''
                              example: 7764.18722
                              nullable: false
                            ref:
                              type: string
                              description: ''
                              example: reprehenderit
                              nullable: false
                            pallet:
                              type: array
                              description: ''
                              example:
                                - []
                              items:
                                type: object
                                properties:
                                  id:
                                    type: number
                                    description: ''
                                    example: 11883131.567
                                    nullable: false
                                  ref:
                                    type: string
                                    description: ''
                                    example: aspernatur
                                    nullable: false
                    required:
                      - quantity
              required:
                - source
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: item_id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{item_id}/allocate-inventory':
    post:
      summary: 'Allocate Inventory'
      operationId: allocateInventory
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                allocatables:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: string
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: item_id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{item_id}/unallocate-inventory':
    post:
      summary: 'Unallocate Inventory'
      operationId: unallocateInventory
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: ''
                  example: serial
                  nullable: false
                  enum:
                    - id
                    - serial
                    - box
                    - pallet
                id:
                  type: string
                  description: 'This field is required when <code>type</code> is <code>id</code>.'
                  example: null
                  nullable: false
                serial:
                  type: string
                  description: 'This field is required when <code>type</code> is <code>serial</code>.'
                  example: null
                  nullable: false
                box:
                  type: string
                  description: 'This field is required when <code>type</code> is <code>box</code>.'
                  example: null
                  nullable: false
                pallet:
                  type: string
                  description: 'This field is required when <code>type</code> is <code>pallet</code>.'
                  example: null
                  nullable: false
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: item_id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{item_id}/action/{action}':
    post:
      summary: Execute
      operationId: execute
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: item_id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: action
        description: 'The action.'
        example: architecto
        required: true
        schema:
          type: string
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{item_id}/allocations':
    get:
      summary: 'Get All Allocations'
      operationId: getAllAllocations
      description: ''
      parameters:
        -
          in: query
          name: ref
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: partMaster.item
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: batch
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: serial
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: quantity
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: hub
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: box
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ALL-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ALL-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: item_id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items':
    get:
      summary: 'Get All Order Items'
      operationId: getAllOrderItems
      description: ''
      parameters:
        -
          in: query
          name: type
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: shipments.id
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: partMaster.item
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: query
          name: inventories.serial
          description: null
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    post:
      summary: 'Create a new order item'
      operationId: createANewOrderItem
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partMaster hub shipments'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partMaster hub shipments'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_ref:
                  type: string
                  description: 'This field is required when <code>shipment_id</code> is not present.'
                  example: ''
                  nullable: false
                  enum:
                    - ''
                shipment_id:
                  type: integer
                  description: 'This field is required when <code>shipment_ref</code> is not present.'
                  example: ''
                  nullable: false
                  enum:
                    - ''
                uid:
                  type: integer
                  description: 'Unique identifier for the item.'
                  example: 886373
                  nullable: false
                part_master_id:
                  type: string
                  description: ''
                  example: laborum
                  nullable: false
                hub_id:
                  type: string
                  description: ''
                  example: sed
                  nullable: false
                serials:
                  type: array
                  description: 'Array of serial numbers.'
                  example:
                    - serial-1
                  items:
                    type: string
                    nullable: true
                batch:
                  type: string|null
                  description: 'Batch identifier.'
                  example: null
                  nullable: true
                configurations:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pjyqsqsrvhrskozacz
                  nullable: true
                quantity:
                  type: integer
                  description: 'Quantity of the item.'
                  example: 300
                  nullable: false
                price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 64
                  nullable: false
                currency:
                  type: string
                  description: ''
                  example: quis
                  nullable: false
                type:
                  type: string
                  description: "Type of request. Use 'json' for JSON format."
                  example: json
                  nullable: false
                item:
                  type: string
                  description: 'Item identifier.'
                  example: 'Packaging Material'
                  nullable: false
                rev:
                  type: string|null
                  description: 'Revision identifier.'
                  example: null
                  nullable: false
                sub_inventory:
                  type: string
                  description: 'Sub inventory name.'
                  example: ICL-NL-New
                  nullable: false
                pallets:
                  type: array
                  description: 'Array of pallets.'
                  example:
                    -
                      ref: pallet-1
                      boxes:
                        -
                          ref: box-1
                          serials:
                            - serial-2
                            - serial-3
                          quantity: 2
                        -
                          ref: box-2
                          serials: []
                          quantity: 20
                  items:
                    type: object
                    properties:
                      ref:
                        type: string
                        description: 'Reference identifier for the pallet.'
                        example: pallet-1
                        nullable: false
                      boxes:
                        type: array
                        description: 'Array of boxes within the pallet.'
                        example:
                          - []
                        items:
                          type: object
                          properties:
                            ref:
                              type: string
                              description: 'Reference identifier for the box.'
                              example: box-1
                              nullable: false
                            serials:
                              type: array
                              description: 'Array of serial numbers for the box.'
                              example:
                                - serial-2
                                - serial-3
                              items:
                                type: string
                            quantity:
                              type: integer
                              description: 'Quantity of items in the box.'
                              example: 2
                              nullable: false
                boxes:
                  type: array
                  description: 'Array of boxes not associated with pallets.'
                  example:
                    -
                      ref: box-3
                      serials:
                        - serial-4
                        - serial-5
                      quantity: 2
                  items:
                    type: object
                    properties:
                      ref:
                        type: string
                        description: 'Reference identifier for the box.'
                        example: box-3
                        nullable: false
                      serials:
                        type: array
                        description: 'Array of serial numbers for the box.'
                        example:
                          - serial-4
                          - serial-5
                        items:
                          type: string
                      quantity:
                        type: integer
                        description: 'Quantity of items in the box.'
                        example: 2
                        nullable: false
              required:
                - part_master_id
                - hub_id
                - price
                - currency
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items/{id}':
    get:
      summary: 'Get a Single Order Item'
      operationId: getASingleOrderItem
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: inventories inventories.box inventories.box.pallet partMaster hub'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: inventories inventories.box inventories.box.pallet partMaster hub'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                group_by:
                  type: string
                  description: ''
                  example: box_id
                  nullable: false
                  enum:
                    - box_id
                    - allocation_ref
                    - batch
    put:
      summary: 'Update Order Item Details'
      operationId: updateOrderItemDetails
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                serials:
                  type: object
                  description: ''
                  example: null
                  nullable: true
                  properties: {  }
                batch:
                  type: string
                  description: ''
                  example: null
                  nullable: true
                configurations:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: cgcyxxja
                  nullable: true
    delete:
      summary: Destroy
      operationId: destroy
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-ORD-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-ORD-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the item.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/warehouse-orders':
    get:
      summary: 'Get All Warehouse Orders'
      operationId: getAllWarehouseOrders
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: shipment warehouse warehouse.threepl status'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: shipment warehouse warehouse.threepl status'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-WRH-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-WRH-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/warehouse-orders/{id}':
    put:
      summary: 'Update Warehouse Order Details'
      operationId: updateWarehouseOrderDetails
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-WRH-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-WRH-01
                  data:
                    type: string
                    example: null
      tags:
        - Partner
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                internal_ref:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: vbbdlntwbbsogeqcbfh
                  nullable: true
                status:
                  type: string
                  description: ''
                  example: complete
                  nullable: false
                  enum:
                    - new
                    - in-progress
                    - packed
                    - pending-for-pickup
                    - on-hold
                    - released
                    - complete
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the warehouse order.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/users/{user_id}/webhooks':
    get:
      summary: 'Get All User Web Hooks'
      operationId: getAllUserWebHooks
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partners subscriptions'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partners subscriptions'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-USR-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-USR-01
                  data:
                    type: string
                    example: null
      tags:
        - Profile
    post:
      summary: 'Create New User Web Hook'
      operationId: createNewUserWebHook
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-USR-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-USR-01
                  data:
                    type: string
                    example: null
      tags:
        - Profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'https://www.oreilly.com/et-molestiae-quas-necessitatibus-eum-dolor-totam-a-consequatur'
                  nullable: false
                partner_ids:
                  type: array
                  description: 'The <code>id</code> of an existing record in the partners table.'
                  example:
                    - 19
                  items:
                    type: integer
                notifications:
                  type: array
                  description: ''
                  example:
                    - 'order:creating-from-api-failed'
                  items:
                    type: string
                    enum:
                      - 'shipment:delivered'
                      - 'device-temperature:limits-lower-limit-exceeded'
                      - 'device-temperature:limits-upper-limit-exceeded'
                      - 'device-temperature:limits-stabilized'
                      - 'shipment:status-changed'
                      - 'shipment:tag_assigned'
                      - 'courier-order:shipped'
                      - 'device:activated'
                      - 'device:seal_is_opened'
                      - 'device:had_shock'
                      - 'device:flipped'
                      - 'device:added_to_shipment'
                      - 'device:tag_assigned'
                      - 'device:reached-point-of-interest'
                      - 'device:left-point-of-interest'
                      - 'device:not-reached-point-of-interest'
                      - 'device:profile_configuration_changed'
                      - 'courier-tracking:status-changed'
                      - 'courier-tracking:exception'
                      - 'courier-tracking:missed-sla'
                      - 'courier-tracking:reached-point-of-interest'
                      - 'courier-tracking:left-point-of-interest'
                      - 'courier-tracking:not-reached-point-of-interest'
                      - 'courier-tracking:event'
                      - 'order:status-changed'
                      - 'order:created-from-api'
                      - 'order:creating-from-api-failed'
                      - 'order-item:created-from-api'
                      - 'order-item:creating-from-api-failed'
                      - 'warehouse-transaction-batch:parsing-finished'
              required:
                - url
    parameters:
      -
        in: path
        name: user_id
        description: "The user's ID. Or 'me' to assign for own profile"
        example: me
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/trackings/{tracking_id}/action/{action}':
    post:
      summary: Execute
      operationId: execute
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Success
                  message: Success.
                  data:
                    message: dispatched
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Success.
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: dispatched
      tags:
        - Tracking
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: tracking_id
        description: 'The ID of the tracking.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: action
        description: 'The action.'
        example: sync-now
        required: true
        schema:
          type: string
  '/api/v1/partner/{partner_id}/trackings':
    post:
      summary: 'Create New Courier Tracking Gateway'
      operationId: createNewCourierTrackingGateway
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
[...]
