openapi: 3.1.0
info:
  title: 'Logivice API'
  description: 'Logivice API (service side application for Logivice)'
  version: 1.0.0
servers:
  -
    url: 'https://api.scaas.ai'
tags:
  -
    name: Profile
    description: ''
  -
    name: Tracking
    description: ''
  -
    name: uOps
    description: ''
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can create Bearer token by visiting your page <b>Profile -> "Api Tokens" -> "+"</b> button. Or you could use the same API with SPA through cookies as well (out of the box)'
security:
  -
    default: []
paths:
  '/api/v1/users/{user_id}/webhooks':
    get:
      summary: 'Get All User Web Hooks'
      operationId: getAllUserWebHooks
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partners subscriptions'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partners subscriptions'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-USR-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-USR-01
                  data:
                    type: string
                    example: null
      tags:
        - Profile
    post:
      summary: 'Create New User Web Hook'
      operationId: createNewUserWebHook
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Error
                  message: Unauthenticated.
                  code: ATH-USR-01
                  data: null
                properties:
                  status:
                    type: string
                    example: Error
                  message:
                    type: string
                    example: Unauthenticated.
                  code:
                    type: string
                    example: ATH-USR-01
                  data:
                    type: string
                    example: null
      tags:
        - Profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: 'Must be a valid URL.'
                  example: 'http://www.von.com/'
                  nullable: false
                partner_ids:
                  type: array
                  description: 'The <code>id</code> of an existing record in the partners table.'
                  example:
                    - 14
                  items:
                    type: integer
                notifications:
                  type: array
                  description: ''
                  example:
                    - 'order:creating-from-api-failed'
                  items:
                    type: string
                    enum:
                      - 'shipment:delivered'
                      - 'device-temperature:limits-lower-limit-exceeded'
                      - 'device-temperature:limits-upper-limit-exceeded'
                      - 'device-temperature:limits-stabilized'
                      - 'shipment:status-changed'
                      - 'shipment:tag_assigned'
                      - 'courier-order:shipped'
                      - 'device:activated'
                      - 'device:seal_is_opened'
                      - 'device:had_shock'
                      - 'device:flipped'
                      - 'device:added_to_shipment'
                      - 'device:tag_assigned'
                      - 'device:reached-point-of-interest'
                      - 'device:left-point-of-interest'
                      - 'device:not-reached-point-of-interest'
                      - 'device:profile_configuration_changed'
                      - 'courier-tracking:status-changed'
                      - 'courier-tracking:exception'
                      - 'courier-tracking:missed-sla'
                      - 'courier-tracking:reached-point-of-interest'
                      - 'courier-tracking:left-point-of-interest'
                      - 'courier-tracking:not-reached-point-of-interest'
                      - 'courier-tracking:event'
                      - 'order:status-changed'
                      - 'order:created-from-api'
                      - 'order:creating-from-api-failed'
                      - 'order-item:created-from-api'
                      - 'order-item:creating-from-api-failed'
                      - 'warehouse-transaction-batch:parsing-finished'
              required:
                - url
    parameters:
      -
        in: path
        name: user_id
        description: "The user's ID. Or 'me' to assign for own profile"
        example: me
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/trackings/{tracking_id}/action/{action}':
    post:
      summary: Execute
      operationId: execute
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Success
                  message: Success.
                  data:
                    message: dispatched
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Success.
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: dispatched
      tags:
        - Tracking
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: tracking_id
        description: 'The ID of the tracking.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: action
        description: 'The action.'
        example: sync-now
        required: true
        schema:
          type: string
  '/api/v1/partner/{partner_id}/trackings':
    post:
      summary: 'Create New Courier Tracking Gateway'
      operationId: createNewCourierTrackingGateway
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Success
                  message: Success.
                  data:
                    event: null
                    event_id: abc123de-f456-789g-h012-i3456jklmno
                    data:
                      id: MXwxMjM0NTY3ODkw
                      raw_id: 1
                      tracking_number: ABC123456789
                      status:
                        code: DEL
                        text: Delivered
                        global_status: delivered
                        is_final: true
                      tracking_link: 'https://www.fedex.com/fedextrack/?trknbr=ABC123456789'
                      created_at: '2025-04-01T09:30:00+00:00'
                      updated_at: '2025-05-06T10:55:06+00:00'
                      company:
                        id: NDUxfDEyMzQ1Njc4OTA.
                        type: courier
                        name: FedEx
                      partner:
                        id: N3wxMjM0NTY3ODkw
                        name: 'Acme Corp'
                      origin:
                        country_iso3: USA
                        country_name: 'United States'
                        location: 'NEW YORK - USA'
                        city: 'NEW YORK'
                      destination:
                        country_iso3: DEU
                        country_name: Germany
                        location: 'BERLIN - GERMANY'
                        city: BERLIN
                      dates:
                        pickup_date: '2025-04-01T10:15:00+00:00'
                        departure_date: '2025-04-01T14:30:00+00:00'
                        estimated_arrival_date: '2025-04-05T09:00:00+00:00'
                        delivery_date: '2025-04-05T11:25:00+00:00'
                        discharge_date: null
                        synced_at: '2025-05-06T10:55:06+00:00'
                        created_at: '2025-04-01T09:30:00+00:00'
                        updated_at: '2025-05-06T10:55:06+00:00'
                      shipment:
                        type: tracking_number
                        package_count: 3
                        weight: 24.5
                        weight_unit: kg
                        co2e_in_kg: 125.8
                        order_id: ORD-12345
                      etas:
                        -
                          id: RVRBfDEyMzQ1Njc4OTA.
                          eta: '2025-04-05T09:00:00+00:00'
                          source: carrier
                      checkpoints:
                        -
                          id: Q0gxfDEyMzQ1Njc4OTA.
                          status: Delivered
                          status_code: DEL
                          checkpoint_time: '2025-04-05T11:25:00+00:00'
                          message: 'Package delivered to recipient.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0gyfDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: OFD
                          checkpoint_time: '2025-04-05T08:30:00+00:00'
                          message: 'Out for delivery.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0gzfDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: ARR
                          checkpoint_time: '2025-04-04T22:15:00+00:00'
                          message: 'Arrived at destination facility.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0g0fDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: DEP
                          checkpoint_time: '2025-04-01T14:30:00+00:00'
                          message: 'Departed origin facility.'
                          location: 'NEW YORK - USA'
                          coordinates:
                            lat: 40.7128
                            lng: -74.006
                        -
                          id: Q0g1fDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: PU
                          checkpoint_time: '2025-04-01T10:15:00+00:00'
                          message: 'Picked up by courier.'
                          location: 'NEW YORK - USA'
                          coordinates:
                            lat: 40.7128
                            lng: -74.006
                      transportations:
                        -
                          id: VFIxfDEyMzQ1Njc4OTA.
                          mode: air
                          company: 'FedEx Air'
                          number: FX1234
                          port_of_loading: 'JFK Airport'
                          port_of_destination: 'Berlin Brandenburg Airport'
                          dates:
                            scheduled_departure: '2025-04-01T14:30:00+00:00'
                            estimated_departure: '2025-04-01T14:30:00+00:00'
                            actual_departure: '2025-04-01T14:45:00+00:00'
                            scheduled_arrival: '2025-04-04T21:00:00+00:00'
                            estimated_arrival: '2025-04-04T22:00:00+00:00'
                            actual_arrival: '2025-04-04T22:15:00+00:00'
                        -
                          id: VFIyfDEyMzQ1Njc4OTA.
                          mode: road
                          company: 'FedEx Ground'
                          number: FG5678
                          dates:
                            scheduled_departure: '2025-04-05T08:00:00+00:00'
                            estimated_departure: '2025-04-05T08:00:00+00:00'
                            actual_departure: '2025-04-05T08:30:00+00:00'
                            scheduled_arrival: '2025-04-05T11:00:00+00:00'
                            estimated_arrival: '2025-04-05T11:30:00+00:00'
                            actual_arrival: '2025-04-05T11:25:00+00:00'
                      packages:
                        -
                          id: UEsxfDEyMzQ1Njc4OTA.
                          ref: PKG001
                          type: box
                          weight: 8.5
                          weight_unit: kg
                          dimensions:
                            length: 40
                            width: 30
                            height: 20
                            unit: cm
                        -
                          id: UEsyfDEyMzQ1Njc4OTA.
                          ref: PKG002
                          type: box
                          weight: 10.0
                          weight_unit: kg
                          dimensions:
                            length: 50
                            width: 40
                            height: 30
                            unit: cm
                        -
                          id: UEszfDEyMzQ1Njc4OTA.
                          ref: PKG003
                          type: pallet
                          weight: 6.0
                          weight_unit: kg
                          dimensions:
                            length: 30
                            width: 20
                            height: 15
                            unit: cm
                    timestamp: 1746531043
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Success.
                  data:
                    type: object
                    properties:
                      event:
                        type: string
                        example: null
                      event_id:
                        type: string
                        example: abc123de-f456-789g-h012-i3456jklmno
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: MXwxMjM0NTY3ODkw
                          raw_id:
                            type: integer
                            example: 1
                          tracking_number:
                            type: string
                            example: ABC123456789
                          status:
                            type: object
                            properties:
                              code:
                                type: string
                                example: DEL
                              text:
                                type: string
                                example: Delivered
                              global_status:
                                type: string
                                example: delivered
                              is_final:
                                type: boolean
                                example: true
                          tracking_link:
                            type: string
                            example: 'https://www.fedex.com/fedextrack/?trknbr=ABC123456789'
                          created_at:
                            type: string
                            example: '2025-04-01T09:30:00+00:00'
                          updated_at:
                            type: string
                            example: '2025-05-06T10:55:06+00:00'
                          company:
                            type: object
                            properties:
                              id:
                                type: string
                                example: NDUxfDEyMzQ1Njc4OTA.
                              type:
                                type: string
                                example: courier
                              name:
                                type: string
                                example: FedEx
                          partner:
                            type: object
                            properties:
                              id:
                                type: string
                                example: N3wxMjM0NTY3ODkw
                              name:
                                type: string
                                example: 'Acme Corp'
                          origin:
                            type: object
                            properties:
                              country_iso3:
                                type: string
                                example: USA
                              country_name:
                                type: string
                                example: 'United States'
                              location:
                                type: string
                                example: 'NEW YORK - USA'
                              city:
                                type: string
                                example: 'NEW YORK'
                          destination:
                            type: object
                            properties:
                              country_iso3:
                                type: string
                                example: DEU
                              country_name:
                                type: string
                                example: Germany
                              location:
                                type: string
                                example: 'BERLIN - GERMANY'
                              city:
                                type: string
                                example: BERLIN
                          dates:
                            type: object
                            properties:
                              pickup_date:
                                type: string
                                example: '2025-04-01T10:15:00+00:00'
                              departure_date:
                                type: string
                                example: '2025-04-01T14:30:00+00:00'
                              estimated_arrival_date:
                                type: string
                                example: '2025-04-05T09:00:00+00:00'
                              delivery_date:
                                type: string
                                example: '2025-04-05T11:25:00+00:00'
                              discharge_date:
                                type: string
                                example: null
                              synced_at:
                                type: string
                                example: '2025-05-06T10:55:06+00:00'
                              created_at:
                                type: string
                                example: '2025-04-01T09:30:00+00:00'
                              updated_at:
                                type: string
                                example: '2025-05-06T10:55:06+00:00'
                          shipment:
                            type: object
                            properties:
                              type:
                                type: string
                                example: tracking_number
                              package_count:
                                type: integer
                                example: 3
                              weight:
                                type: number
                                example: 24.5
                              weight_unit:
                                type: string
                                example: kg
                              co2e_in_kg:
                                type: number
                                example: 125.8
                              order_id:
                                type: string
                                example: ORD-12345
                          etas:
                            type: array
                            example:
                              -
                                id: RVRBfDEyMzQ1Njc4OTA.
                                eta: '2025-04-05T09:00:00+00:00'
                                source: carrier
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: RVRBfDEyMzQ1Njc4OTA.
                                eta:
                                  type: string
                                  example: '2025-04-05T09:00:00+00:00'
                                source:
                                  type: string
                                  example: carrier
                          checkpoints:
                            type: array
                            example:
                              -
                                id: Q0gxfDEyMzQ1Njc4OTA.
                                status: Delivered
                                status_code: DEL
                                checkpoint_time: '2025-04-05T11:25:00+00:00'
                                message: 'Package delivered to recipient.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0gyfDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: OFD
                                checkpoint_time: '2025-04-05T08:30:00+00:00'
                                message: 'Out for delivery.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0gzfDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: ARR
                                checkpoint_time: '2025-04-04T22:15:00+00:00'
                                message: 'Arrived at destination facility.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0g0fDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: DEP
                                checkpoint_time: '2025-04-01T14:30:00+00:00'
                                message: 'Departed origin facility.'
                                location: 'NEW YORK - USA'
                                coordinates:
                                  lat: 40.7128
                                  lng: -74.006
                              -
                                id: Q0g1fDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: PU
                                checkpoint_time: '2025-04-01T10:15:00+00:00'
                                message: 'Picked up by courier.'
                                location: 'NEW YORK - USA'
                                coordinates:
                                  lat: 40.7128
                                  lng: -74.006
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: Q0gxfDEyMzQ1Njc4OTA.
                                status:
                                  type: string
                                  example: Delivered
                                status_code:
                                  type: string
                                  example: DEL
                                checkpoint_time:
                                  type: string
                                  example: '2025-04-05T11:25:00+00:00'
                                message:
                                  type: string
                                  example: 'Package delivered to recipient.'
                                location:
                                  type: string
                                  example: 'BERLIN - GERMANY'
                                coordinates:
                                  type: object
                                  properties:
                                    lat:
                                      type: number
                                      example: 52.52
                                    lng:
                                      type: number
                                      example: 13.405
                          transportations:
                            type: array
                            example:
                              -
                                id: VFIxfDEyMzQ1Njc4OTA.
                                mode: air
                                company: 'FedEx Air'
                                number: FX1234
                                port_of_loading: 'JFK Airport'
                                port_of_destination: 'Berlin Brandenburg Airport'
                                dates:
                                  scheduled_departure: '2025-04-01T14:30:00+00:00'
                                  estimated_departure: '2025-04-01T14:30:00+00:00'
                                  actual_departure: '2025-04-01T14:45:00+00:00'
                                  scheduled_arrival: '2025-04-04T21:00:00+00:00'
                                  estimated_arrival: '2025-04-04T22:00:00+00:00'
                                  actual_arrival: '2025-04-04T22:15:00+00:00'
                              -
                                id: VFIyfDEyMzQ1Njc4OTA.
                                mode: road
                                company: 'FedEx Ground'
                                number: FG5678
                                dates:
                                  scheduled_departure: '2025-04-05T08:00:00+00:00'
                                  estimated_departure: '2025-04-05T08:00:00+00:00'
                                  actual_departure: '2025-04-05T08:30:00+00:00'
                                  scheduled_arrival: '2025-04-05T11:00:00+00:00'
                                  estimated_arrival: '2025-04-05T11:30:00+00:00'
                                  actual_arrival: '2025-04-05T11:25:00+00:00'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: VFIxfDEyMzQ1Njc4OTA.
                                mode:
                                  type: string
                                  example: air
                                company:
                                  type: string
                                  example: 'FedEx Air'
                                number:
                                  type: string
                                  example: FX1234
                                port_of_loading:
                                  type: string
                                  example: 'JFK Airport'
                                port_of_destination:
                                  type: string
                                  example: 'Berlin Brandenburg Airport'
                                dates:
                                  type: object
                                  properties:
                                    scheduled_departure:
                                      type: string
                                      example: '2025-04-01T14:30:00+00:00'
                                    estimated_departure:
                                      type: string
                                      example: '2025-04-01T14:30:00+00:00'
                                    actual_departure:
                                      type: string
                                      example: '2025-04-01T14:45:00+00:00'
                                    scheduled_arrival:
                                      type: string
                                      example: '2025-04-04T21:00:00+00:00'
                                    estimated_arrival:
                                      type: string
                                      example: '2025-04-04T22:00:00+00:00'
                                    actual_arrival:
                                      type: string
                                      example: '2025-04-04T22:15:00+00:00'
                          packages:
                            type: array
                            example:
                              -
                                id: UEsxfDEyMzQ1Njc4OTA.
                                ref: PKG001
                                type: box
                                weight: 8.5
                                weight_unit: kg
                                dimensions:
                                  length: 40
                                  width: 30
                                  height: 20
                                  unit: cm
                              -
                                id: UEsyfDEyMzQ1Njc4OTA.
                                ref: PKG002
                                type: box
                                weight: 10
                                weight_unit: kg
                                dimensions:
                                  length: 50
                                  width: 40
                                  height: 30
                                  unit: cm
                              -
                                id: UEszfDEyMzQ1Njc4OTA.
                                ref: PKG003
                                type: pallet
                                weight: 6
                                weight_unit: kg
                                dimensions:
                                  length: 30
                                  width: 20
                                  height: 15
                                  unit: cm
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: UEsxfDEyMzQ1Njc4OTA.
                                ref:
                                  type: string
                                  example: PKG001
                                type:
                                  type: string
                                  example: box
                                weight:
                                  type: number
                                  example: 8.5
                                weight_unit:
                                  type: string
                                  example: kg
                                dimensions:
                                  type: object
                                  properties:
                                    length:
                                      type: integer
                                      example: 40
                                    width:
                                      type: integer
                                      example: 30
                                    height:
                                      type: integer
                                      example: 20
                                    unit:
                                      type: string
                                      example: cm
                      timestamp:
                        type: integer
                        example: 1746531043
      tags:
        - Tracking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shippable_type:
                  type: string
                  description: 'Shippable type.'
                  example: shipment
                  nullable: true
                shippable_id:
                  type: integer
                  description: 'Shippable ID.'
                  example: 2
                  nullable: true
                shipping_mode:
                  type: string
                  description: 'Shipping mode.'
                  example: sea
                  nullable: false
                  enum:
                    - courier
                    - air
                    - sea
                    - flight
                track_with:
                  type: string
                  description: 'Integration you would like to use to track.'
                  example: shipsgo_air
                  nullable: false
                tracking_data:
                  type: object
                  description: 'Tracking data object.'
                  example: []
                  nullable: false
                  properties:
                    shipper:
                      type: string
                      description: 'Airline or courier company (depends on shipping_mode).'
                      example: dhl
                      nullable: false
                    tracking_number:
                      type: string
                      description: 'Tracking number. Required if shipping_mode=courier.'
                      example: 1Z32A8A70401889686
                      nullable: false
                    awb_number:
                      type: string
                      description: 'Awb number. Required if shipping_mode=air.'
                      example: 020-43026340
                      nullable: false
                    container_number:
                      type: string
                      description: 'Container number for sea shipping.'
                      example: MEDU9655399
                      nullable: false
                    bl_reference:
                      type: string
                      description: 'BL reference for sea shipping.'
                      example: IL0033036
                      nullable: false
                    flight_number:
                      type: string
                      description: 'Flight number. Required if shipping_mode=flight.'
                      example: DL263
                      nullable: false
                    scheduled_on:
                      type: string
                      description: 'Scheduled on date. Required if shipping_mode=flight.'
                      example: '2025-05-06T11:17:31.524Z'
                      nullable: false
              required:
                - shipping_mode
                - tracking_data
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/trackings/{id}':
    get:
      summary: 'Get a Single Courier Tracking Gateway'
      operationId: getASingleCourierTrackingGateway
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: Success
                  message: Success.
                  data:
                    event: null
                    event_id: abc123de-f456-789g-h012-i3456jklmno
                    data:
                      id: MXwxMjM0NTY3ODkw
                      raw_id: 1
                      tracking_number: ABC123456789
                      status:
                        code: DEL
                        text: Delivered
                        global_status: delivered
                        is_final: true
                      tracking_link: 'https://www.fedex.com/fedextrack/?trknbr=ABC123456789'
                      created_at: '2025-04-01T09:30:00+00:00'
                      updated_at: '2025-05-06T10:55:06+00:00'
                      company:
                        id: NDUxfDEyMzQ1Njc4OTA.
                        type: courier
                        name: FedEx
                      partner:
                        id: N3wxMjM0NTY3ODkw
                        name: 'Acme Corp'
                      origin:
                        country_iso3: USA
                        country_name: 'United States'
                        location: 'NEW YORK - USA'
                        city: 'NEW YORK'
                      destination:
                        country_iso3: DEU
                        country_name: Germany
                        location: 'BERLIN - GERMANY'
                        city: BERLIN
                      dates:
                        pickup_date: '2025-04-01T10:15:00+00:00'
                        departure_date: '2025-04-01T14:30:00+00:00'
                        estimated_arrival_date: '2025-04-05T09:00:00+00:00'
                        delivery_date: '2025-04-05T11:25:00+00:00'
                        discharge_date: null
                        synced_at: '2025-05-06T10:55:06+00:00'
                        created_at: '2025-04-01T09:30:00+00:00'
                        updated_at: '2025-05-06T10:55:06+00:00'
                      shipment:
                        type: tracking_number
                        package_count: 3
                        weight: 24.5
                        weight_unit: kg
                        co2e_in_kg: 125.8
                        order_id: ORD-12345
                      etas:
                        -
                          id: RVRBfDEyMzQ1Njc4OTA.
                          eta: '2025-04-05T09:00:00+00:00'
                          source: carrier
                      checkpoints:
                        -
                          id: Q0gxfDEyMzQ1Njc4OTA.
                          status: Delivered
                          status_code: DEL
                          checkpoint_time: '2025-04-05T11:25:00+00:00'
                          message: 'Package delivered to recipient.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0gyfDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: OFD
                          checkpoint_time: '2025-04-05T08:30:00+00:00'
                          message: 'Out for delivery.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0gzfDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: ARR
                          checkpoint_time: '2025-04-04T22:15:00+00:00'
                          message: 'Arrived at destination facility.'
                          location: 'BERLIN - GERMANY'
                          coordinates:
                            lat: 52.52
                            lng: 13.405
                        -
                          id: Q0g0fDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: DEP
                          checkpoint_time: '2025-04-01T14:30:00+00:00'
                          message: 'Departed origin facility.'
                          location: 'NEW YORK - USA'
                          coordinates:
                            lat: 40.7128
                            lng: -74.006
                        -
                          id: Q0g1fDEyMzQ1Njc4OTA.
                          status: InTransit
                          status_code: PU
                          checkpoint_time: '2025-04-01T10:15:00+00:00'
                          message: 'Picked up by courier.'
                          location: 'NEW YORK - USA'
                          coordinates:
                            lat: 40.7128
                            lng: -74.006
                      transportations:
                        -
                          id: VFIxfDEyMzQ1Njc4OTA.
                          mode: air
                          company: 'FedEx Air'
                          number: FX1234
                          port_of_loading: 'JFK Airport'
                          port_of_destination: 'Berlin Brandenburg Airport'
                          dates:
                            scheduled_departure: '2025-04-01T14:30:00+00:00'
                            estimated_departure: '2025-04-01T14:30:00+00:00'
                            actual_departure: '2025-04-01T14:45:00+00:00'
                            scheduled_arrival: '2025-04-04T21:00:00+00:00'
                            estimated_arrival: '2025-04-04T22:00:00+00:00'
                            actual_arrival: '2025-04-04T22:15:00+00:00'
                        -
                          id: VFIyfDEyMzQ1Njc4OTA.
                          mode: road
                          company: 'FedEx Ground'
                          number: FG5678
                          dates:
                            scheduled_departure: '2025-04-05T08:00:00+00:00'
                            estimated_departure: '2025-04-05T08:00:00+00:00'
                            actual_departure: '2025-04-05T08:30:00+00:00'
                            scheduled_arrival: '2025-04-05T11:00:00+00:00'
                            estimated_arrival: '2025-04-05T11:30:00+00:00'
                            actual_arrival: '2025-04-05T11:25:00+00:00'
                      packages:
                        -
                          id: UEsxfDEyMzQ1Njc4OTA.
                          ref: PKG001
                          type: box
                          weight: 8.5
                          weight_unit: kg
                          dimensions:
                            length: 40
                            width: 30
                            height: 20
                            unit: cm
                        -
                          id: UEsyfDEyMzQ1Njc4OTA.
                          ref: PKG002
                          type: box
                          weight: 10.0
                          weight_unit: kg
                          dimensions:
                            length: 50
                            width: 40
                            height: 30
                            unit: cm
                        -
                          id: UEszfDEyMzQ1Njc4OTA.
                          ref: PKG003
                          type: pallet
                          weight: 6.0
                          weight_unit: kg
                          dimensions:
                            length: 30
                            width: 20
                            height: 15
                            unit: cm
                    timestamp: 1746531043
                properties:
                  status:
                    type: string
                    example: Success
                  message:
                    type: string
                    example: Success.
                  data:
                    type: object
                    properties:
                      event:
                        type: string
                        example: null
                      event_id:
                        type: string
                        example: abc123de-f456-789g-h012-i3456jklmno
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                            example: MXwxMjM0NTY3ODkw
                          raw_id:
                            type: integer
                            example: 1
                          tracking_number:
                            type: string
                            example: ABC123456789
                          status:
                            type: object
                            properties:
                              code:
                                type: string
                                example: DEL
                              text:
                                type: string
                                example: Delivered
                              global_status:
                                type: string
                                example: delivered
                              is_final:
                                type: boolean
                                example: true
                          tracking_link:
                            type: string
                            example: 'https://www.fedex.com/fedextrack/?trknbr=ABC123456789'
                          created_at:
                            type: string
                            example: '2025-04-01T09:30:00+00:00'
                          updated_at:
                            type: string
                            example: '2025-05-06T10:55:06+00:00'
                          company:
                            type: object
                            properties:
                              id:
                                type: string
                                example: NDUxfDEyMzQ1Njc4OTA.
                              type:
                                type: string
                                example: courier
                              name:
                                type: string
                                example: FedEx
                          partner:
                            type: object
                            properties:
                              id:
                                type: string
                                example: N3wxMjM0NTY3ODkw
                              name:
                                type: string
                                example: 'Acme Corp'
                          origin:
                            type: object
                            properties:
                              country_iso3:
                                type: string
                                example: USA
                              country_name:
                                type: string
                                example: 'United States'
                              location:
                                type: string
                                example: 'NEW YORK - USA'
                              city:
                                type: string
                                example: 'NEW YORK'
                          destination:
                            type: object
                            properties:
                              country_iso3:
                                type: string
                                example: DEU
                              country_name:
                                type: string
                                example: Germany
                              location:
                                type: string
                                example: 'BERLIN - GERMANY'
                              city:
                                type: string
                                example: BERLIN
                          dates:
                            type: object
                            properties:
                              pickup_date:
                                type: string
                                example: '2025-04-01T10:15:00+00:00'
                              departure_date:
                                type: string
                                example: '2025-04-01T14:30:00+00:00'
                              estimated_arrival_date:
                                type: string
                                example: '2025-04-05T09:00:00+00:00'
                              delivery_date:
                                type: string
                                example: '2025-04-05T11:25:00+00:00'
                              discharge_date:
                                type: string
                                example: null
                              synced_at:
                                type: string
                                example: '2025-05-06T10:55:06+00:00'
                              created_at:
                                type: string
                                example: '2025-04-01T09:30:00+00:00'
                              updated_at:
                                type: string
                                example: '2025-05-06T10:55:06+00:00'
                          shipment:
                            type: object
                            properties:
                              type:
                                type: string
                                example: tracking_number
                              package_count:
                                type: integer
                                example: 3
                              weight:
                                type: number
                                example: 24.5
                              weight_unit:
                                type: string
                                example: kg
                              co2e_in_kg:
                                type: number
                                example: 125.8
                              order_id:
                                type: string
                                example: ORD-12345
                          etas:
                            type: array
                            example:
                              -
                                id: RVRBfDEyMzQ1Njc4OTA.
                                eta: '2025-04-05T09:00:00+00:00'
                                source: carrier
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: RVRBfDEyMzQ1Njc4OTA.
                                eta:
                                  type: string
                                  example: '2025-04-05T09:00:00+00:00'
                                source:
                                  type: string
                                  example: carrier
                          checkpoints:
                            type: array
                            example:
                              -
                                id: Q0gxfDEyMzQ1Njc4OTA.
                                status: Delivered
                                status_code: DEL
                                checkpoint_time: '2025-04-05T11:25:00+00:00'
                                message: 'Package delivered to recipient.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0gyfDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: OFD
                                checkpoint_time: '2025-04-05T08:30:00+00:00'
                                message: 'Out for delivery.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0gzfDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: ARR
                                checkpoint_time: '2025-04-04T22:15:00+00:00'
                                message: 'Arrived at destination facility.'
                                location: 'BERLIN - GERMANY'
                                coordinates:
                                  lat: 52.52
                                  lng: 13.405
                              -
                                id: Q0g0fDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: DEP
                                checkpoint_time: '2025-04-01T14:30:00+00:00'
                                message: 'Departed origin facility.'
                                location: 'NEW YORK - USA'
                                coordinates:
                                  lat: 40.7128
                                  lng: -74.006
                              -
                                id: Q0g1fDEyMzQ1Njc4OTA.
                                status: InTransit
                                status_code: PU
                                checkpoint_time: '2025-04-01T10:15:00+00:00'
                                message: 'Picked up by courier.'
                                location: 'NEW YORK - USA'
                                coordinates:
                                  lat: 40.7128
                                  lng: -74.006
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: Q0gxfDEyMzQ1Njc4OTA.
                                status:
                                  type: string
                                  example: Delivered
                                status_code:
                                  type: string
                                  example: DEL
                                checkpoint_time:
                                  type: string
                                  example: '2025-04-05T11:25:00+00:00'
                                message:
                                  type: string
                                  example: 'Package delivered to recipient.'
                                location:
                                  type: string
                                  example: 'BERLIN - GERMANY'
                                coordinates:
                                  type: object
                                  properties:
                                    lat:
                                      type: number
                                      example: 52.52
                                    lng:
                                      type: number
                                      example: 13.405
                          transportations:
                            type: array
                            example:
                              -
                                id: VFIxfDEyMzQ1Njc4OTA.
                                mode: air
                                company: 'FedEx Air'
                                number: FX1234
                                port_of_loading: 'JFK Airport'
                                port_of_destination: 'Berlin Brandenburg Airport'
                                dates:
                                  scheduled_departure: '2025-04-01T14:30:00+00:00'
                                  estimated_departure: '2025-04-01T14:30:00+00:00'
                                  actual_departure: '2025-04-01T14:45:00+00:00'
                                  scheduled_arrival: '2025-04-04T21:00:00+00:00'
                                  estimated_arrival: '2025-04-04T22:00:00+00:00'
                                  actual_arrival: '2025-04-04T22:15:00+00:00'
                              -
                                id: VFIyfDEyMzQ1Njc4OTA.
                                mode: road
                                company: 'FedEx Ground'
                                number: FG5678
                                dates:
                                  scheduled_departure: '2025-04-05T08:00:00+00:00'
                                  estimated_departure: '2025-04-05T08:00:00+00:00'
                                  actual_departure: '2025-04-05T08:30:00+00:00'
                                  scheduled_arrival: '2025-04-05T11:00:00+00:00'
                                  estimated_arrival: '2025-04-05T11:30:00+00:00'
                                  actual_arrival: '2025-04-05T11:25:00+00:00'
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: VFIxfDEyMzQ1Njc4OTA.
                                mode:
                                  type: string
                                  example: air
                                company:
                                  type: string
                                  example: 'FedEx Air'
                                number:
                                  type: string
                                  example: FX1234
                                port_of_loading:
                                  type: string
                                  example: 'JFK Airport'
                                port_of_destination:
                                  type: string
                                  example: 'Berlin Brandenburg Airport'
                                dates:
                                  type: object
                                  properties:
                                    scheduled_departure:
                                      type: string
                                      example: '2025-04-01T14:30:00+00:00'
                                    estimated_departure:
                                      type: string
                                      example: '2025-04-01T14:30:00+00:00'
                                    actual_departure:
                                      type: string
                                      example: '2025-04-01T14:45:00+00:00'
                                    scheduled_arrival:
                                      type: string
                                      example: '2025-04-04T21:00:00+00:00'
                                    estimated_arrival:
                                      type: string
                                      example: '2025-04-04T22:00:00+00:00'
                                    actual_arrival:
                                      type: string
                                      example: '2025-04-04T22:15:00+00:00'
                          packages:
                            type: array
                            example:
                              -
                                id: UEsxfDEyMzQ1Njc4OTA.
                                ref: PKG001
                                type: box
                                weight: 8.5
                                weight_unit: kg
                                dimensions:
                                  length: 40
                                  width: 30
                                  height: 20
                                  unit: cm
                              -
                                id: UEsyfDEyMzQ1Njc4OTA.
                                ref: PKG002
                                type: box
                                weight: 10
                                weight_unit: kg
                                dimensions:
                                  length: 50
                                  width: 40
                                  height: 30
                                  unit: cm
                              -
                                id: UEszfDEyMzQ1Njc4OTA.
                                ref: PKG003
                                type: pallet
                                weight: 6
                                weight_unit: kg
                                dimensions:
                                  length: 30
                                  width: 20
                                  height: 15
                                  unit: cm
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: UEsxfDEyMzQ1Njc4OTA.
                                ref:
                                  type: string
                                  example: PKG001
                                type:
                                  type: string
                                  example: box
                                weight:
                                  type: number
                                  example: 8.5
                                weight_unit:
                                  type: string
                                  example: kg
                                dimensions:
                                  type: object
                                  properties:
                                    length:
                                      type: integer
                                      example: 40
                                    width:
                                      type: integer
                                      example: 30
                                    height:
                                      type: integer
                                      example: 20
                                    unit:
                                      type: string
                                      example: cm
                      timestamp:
                        type: integer
                        example: 1746531043
      tags:
        - Tracking
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: id
        description: 'The ID of the tracking.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders':
    post:
      summary: 'Create a new order'
      operationId: createANewOrder
      description: ''
      parameters:
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "Success", "message": "Success.", "data": {"message": "Your order has been received and is being processed asynchronously.", "dispatched"}}'
      tags:
        - uOps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ref:
                  type: string
                  description: 'Order reference number.'
                  example: PackagingMaterial
                  nullable: false
                partner_service_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the partner_services table.'
                  example: porro
                  nullable: false
                ref2:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: doqihjldsnymrdifwmrbwssg
                  nullable: true
                rma:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: xvwyvmqmuqjlhsa
                  nullable: true
                remarks:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: jxcoj
                  nullable: true
                type:
                  type: string
                  description: "Type of request. Use 'json' for JSON format."
                  example: json
                  nullable: false
                partner_service:
                  type: string
                  description: 'Partner service type.'
                  example: replenishment
                  nullable: false
                shipments:
                  type: array
                  description: 'Array of shipments for this order.'
                  example:
                    - []
                  items:
                    type: object
                    properties:
                      ref:
                        type: string
                        description: 'Shipment reference.'
                        example: PackagingMaterial-Schiphol
                        nullable: false
                      type:
                        type: string
                        description: 'Shipment type.'
                        example: inbound
                        nullable: false
                      origin:
                        type: object
                        description: 'Origin information.'
                        example: []
                        nullable: false
                        properties:
                          type:
                            type: string
                            description: 'Origin type (address or hub).'
                            example: address
                            nullable: false
                          address:
                            type: object
                            description: "Address information when origin type is 'address'."
                            example: []
                            nullable: false
                            properties:
                              address_name:
                                type: string
                                description: 'Address name.'
                                example: 'Jimmy Horjus'
                                nullable: false
                              customer_name:
                                type: string
                                description: 'Customer name.'
                                example: 'LiveU \/o Rapid Logistics'
                                nullable: false
                              address:
                                type: string
                                description: 'Address line.'
                                example: 'Airborne Avenue 87'
                                nullable: false
                              city:
                                type: string
                                description: City.
                                example: Hoofddorp
                                nullable: false
                              zip:
                                type: string
                                description: 'ZIP/Postal code.'
                                example: '2133 LV'
                                nullable: false
                              country:
                                type: string
                                description: Country.
                                example: Netherlands
                                nullable: false
                              address_type:
                                type: string
                                description: 'Address type.'
                                example: oem
                                nullable: false
                          contacts:
                            type: array
                            description: "Contact information when origin type is 'address'."
                            example:
                              - []
                            items:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  description: 'First name.'
                                  example: Jimmy
                                  nullable: false
                                last_name:
                                  type: string
                                  description: 'Last name.'
                                  example: Horjus
                                  nullable: false
                                phone:
                                  type: string
                                  description: 'Phone number.'
                                  example: '+31206532323'
                                  nullable: false
                                email:
                                  type: string
                                  description: 'Email address.'
                                  example: j.horjus@rapidlogistics.nl
                                  nullable: false
                                type:
                                  type: string
                                  description: 'Contact type.'
                                  example: main
                                  nullable: false
                          hub:
                            type: string
                            description: "Hub name when origin type is 'hub'."
                            example: Amsterdam
                            nullable: false
                      destination:
                        type: object
                        description: 'Destination information.'
                        example: []
                        nullable: false
                        properties:
                          type:
                            type: string
                            description: 'Destination type (address or hub).'
                            example: hub
                            nullable: false
                          hub:
                            type: string
                            description: "Hub name when destination type is 'hub'."
                            example: Schiphol
                            nullable: false
                          address:
                            type: object
                            description: "Address information when destination type is 'address'."
                            example: []
                            nullable: false
                            properties:
                              address_name:
                                type: string
                                description: 'Address name.'
                                example: 'Recipient Name'
                                nullable: false
                              customer_name:
                                type: string
                                description: 'Customer name.'
                                example: 'Destination Company'
                                nullable: false
                              address:
                                type: string
                                description: 'Address line.'
                                example: 'Business Park 123'
                                nullable: false
                              city:
                                type: string
                                description: City.
                                example: Rotterdam
                                nullable: false
                              zip:
                                type: string
                                description: 'ZIP/Postal code.'
                                example: '3001 AB'
                                nullable: false
                              country:
                                type: string
                                description: Country.
                                example: Netherlands
                                nullable: false
                              address_type:
                                type: string
                                description: 'Address type.'
                                example: delivery
                                nullable: false
                          contacts:
                            type: array
                            description: "Contact information when destination type is 'address'."
                            example:
                              - []
                            items:
                              type: object
                              properties:
                                first_name:
                                  type: string
                                  description: 'First name.'
                                  example: John
                                  nullable: false
                                last_name:
                                  type: string
                                  description: 'Last name.'
                                  example: Doe
                                  nullable: false
                                phone:
                                  type: string
                                  description: 'Phone number.'
                                  example: '+31612345678'
                                  nullable: false
                                email:
                                  type: string
                                  description: 'Email address.'
                                  example: john.doe@example.com
                                  nullable: false
                                type:
                                  type: string
                                  description: 'Contact type.'
                                  example: recipient
                                  nullable: false
                      items:
                        type: array
                        description: 'Array of items in the shipment.'
                        example:
                          - []
                        items:
                          type: object
                          properties:
                            uid:
                              type: integer
                              description: 'Unique identifier for the item.'
                              example: 886373
                              nullable: false
                            item:
                              type: string
                              description: 'Item identifier.'
                              example: 'Packaging Material'
                              nullable: false
                            quantity:
                              type: integer
                              description: 'Quantity of the item.'
                              example: 300
                              nullable: false
                            batch:
                              type: string|null
                              description: 'Batch identifier.'
                              example: null
                              nullable: false
                            rev:
                              type: string|null
                              description: 'Revision identifier.'
                              example: null
                              nullable: false
                            sub_inventory:
                              type: string
                              description: 'Sub inventory name.'
                              example: ICL-NL-New
                              nullable: false
                            serials:
                              type: array
                              description: 'Array of serial numbers.'
                              example:
                                - serial-1
                              items:
                                type: string
                            pallets:
                              type: array
                              description: 'Array of pallets.'
                              example:
                                - []
                              items:
                                type: object
                                properties:
                                  ref:
                                    type: string
                                    description: 'Reference identifier for the pallet.'
                                    example: pallet-1
                                    nullable: false
                                  boxes:
                                    type: array
                                    description: 'Array of boxes within the pallet.'
                                    example:
                                      - []
                                    items:
                                      type: object
                                      properties: { ref: { type: string, description: 'Reference identifier for the box.', example: box-1, nullable: false }, serials: { type: array, description: 'Array of serial numbers for the box.', example: [serial-2, serial-3], items: { type: string } }, quantity: { type: integer, description: 'Quantity of items in the box.', example: 2, nullable: false } }
                            boxes:
                              type: array
                              description: 'Array of boxes not associated with pallets.'
                              example:
                                - []
                              items:
                                type: object
                                properties:
                                  ref:
                                    type: string
                                    description: 'Reference identifier for the box.'
                                    example: box-3
                                    nullable: false
                                  serials:
                                    type: array
                                    description: 'Array of serial numbers for the box.'
                                    example:
                                      - serial-4
                                      - serial-5
                                    items:
                                      type: string
                                  quantity:
                                    type: integer
                                    description: 'Quantity of items in the box.'
                                    example: 2
                                    nullable: false
              required:
                - partner_service_id
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/partner/{partner_id}/orders/{order_id}/items':
    post:
      summary: 'Create a new order item'
      operationId: createANewOrderItem
      description: ''
      parameters:
        -
          in: query
          name: with
          description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partMaster hub shipments'
          example: null
          required: false
          schema:
            type: string
            description: 'allowed relations list: (one,two,three); &nbsp;&nbsp;&nbsp;&nbsp;allowed: partMaster hub shipments'
            example: null
            nullable: false
        -
          in: header
          name: Organisation
          description: ''
          example: unilog
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: '{"status": "Success", "message": "Success.", "data": {"message": "Your order has been received and is being processed asynchronously.", "dispatched"}}'
      tags:
        - uOps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_ref:
                  type: string
                  description: 'This field is required when <code>shipment_id</code> is not present.'
                  example: ''
                  nullable: false
                  enum:
                    - ''
                shipment_id:
                  type: integer
                  description: 'This field is required when <code>shipment_ref</code> is not present.'
                  example: ''
                  nullable: false
                  enum:
                    - ''
                uid:
                  type: integer
                  description: 'Unique identifier for the item.'
                  example: 886373
                  nullable: false
                part_master_id:
                  type: string
                  description: ''
                  example: officiis
                  nullable: false
                hub_id:
                  type: string
                  description: ''
                  example: tenetur
                  nullable: false
                serials:
                  type: array
                  description: 'Array of serial numbers.'
                  example:
                    - serial-1
                  items:
                    type: string
                    nullable: true
                batch:
                  type: string|null
                  description: 'Batch identifier.'
                  example: null
                  nullable: true
                configurations:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: abdji
                  nullable: true
                quantity:
                  type: integer
                  description: 'Quantity of the item.'
                  example: 300
                  nullable: false
                price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 40
                  nullable: false
                currency:
                  type: string
                  description: ''
                  example: at
                  nullable: false
                type:
                  type: string
                  description: "Type of request. Use 'json' for JSON format."
                  example: json
                  nullable: false
                item:
                  type: string
                  description: 'Item identifier.'
                  example: 'Packaging Material'
                  nullable: false
                rev:
                  type: string|null
                  description: 'Revision identifier.'
                  example: null
                  nullable: false
                sub_inventory:
                  type: string
                  description: 'Sub inventory name.'
                  example: ICL-NL-New
                  nullable: false
                pallets:
                  type: array
                  description: 'Array of pallets.'
                  example:
                    -
                      ref: pallet-1
                      boxes:
                        -
                          ref: box-1
                          serials:
                            - serial-2
                            - serial-3
                          quantity: 2
                        -
                          ref: box-2
                          serials: []
                          quantity: 20
                  items:
                    type: object
                    properties:
                      ref:
                        type: string
                        description: 'Reference identifier for the pallet.'
                        example: pallet-1
                        nullable: false
                      boxes:
                        type: array
                        description: 'Array of boxes within the pallet.'
                        example:
                          - []
                        items:
                          type: object
                          properties:
                            ref:
                              type: string
                              description: 'Reference identifier for the box.'
                              example: box-1
                              nullable: false
                            serials:
                              type: array
                              description: 'Array of serial numbers for the box.'
                              example:
                                - serial-2
                                - serial-3
                              items:
                                type: string
                            quantity:
                              type: integer
                              description: 'Quantity of items in the box.'
                              example: 2
                              nullable: false
                boxes:
                  type: array
                  description: 'Array of boxes not associated with pallets.'
                  example:
                    -
                      ref: box-3
                      serials:
                        - serial-4
                        - serial-5
                      quantity: 2
                  items:
                    type: object
                    properties:
                      ref:
                        type: string
                        description: 'Reference identifier for the box.'
                        example: box-3
                        nullable: false
                      serials:
                        type: array
                        description: 'Array of serial numbers for the box.'
                        example:
                          - serial-4
                          - serial-5
                        items:
                          type: string
                      quantity:
                        type: integer
                        description: 'Quantity of items in the box.'
                        example: 2
                        nullable: false
              required:
                - part_master_id
                - hub_id
                - price
                - currency
    parameters:
      -
        in: path
        name: partner_id
        description: 'The ID of the partner.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: order_id
        description: 'The ID of the order.'
        example: 1
        required: true
        schema:
          type: integer
